@import 'variables';



/** General Sytles **/

.container{
    width: 100%;
    margin: 0 auto;
}



/** Body **/

body{
    background-color: rgba($color-grey-dark, 0.9);
    color: #fff;
    padding: $padding-xs;
}
/** Main **/
main {
    box-shadow: 0.1rem 0.2rem 0.2rem rgba($color-secondary, 0.3);
    height: calc(100vh - $padding-xs * 2);
    background-color: rgba($color-black, 0.9);
    /** Main Content **/
    .main_content {
        &::before {
            content: ' ';
            width: 100%;
            height: 100%;
            // background-image: linear-gradient(90deg, rgba($color-black, 0.9) 0%, rgba($color-grey-dark, 0.9) 35%), url('../images/background.jpg');
            // background-size: contain;
            // background-repeat: no-repeat;
            border-radius: 0 $border-radius-xs $border-radius-xs 0;
            opacity: 1;
            
            backdrop-filter: blur(2rem);
        }
    }

    /** Personal Info **/

    .personal_info {
        background: radial-gradient(circle, rgba($color-black, 0.9) 0%, rgba($color-black, 0.8) 100%);
        border-radius: $border-radius-xs 0 0 $border-radius-xs;
        // Header

        &__header
        {
            padding: $padding-md;
            text-align: center;
            box-shadow: inset 0 -0.8rem 0.6rem -1rem $color-secondary;
        }
        &__image{
            
            margin-top: $margin-lg;
            text-align: center;
            img{
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
            }
          
        }

        &__name{
            font-size: $font-size-sm;
            font-weight: $font-weight-black;
            margin-top: $margin-md;
        }

        &__job{
            font-size: $font-size-xxs;
            margin-top: $margin-xs;
            color: $color-grey-light;
        }
    }


}

