
*, *::before, *::after{
  box-sizing: border-box ;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5% /* 1rem = 10px */;
}

body{
  font-size: 1.6rem;
  width: 100%;
}


a:link{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li{
  list-style: none;
}

a:link, a:visited{
  color: inherit;
}

button{
  cursor: pointer;
  /* Clear button styles */

  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  outline: inherit;

}